Flask~=3.0.3
python-dotenv~=1.0.1
PyMySQL
gunicorn ~= 22.0.0
SQLAlchemy
Flask-SQLAlchemy
Flask-Bootstrap==3.3.7.1
Flask-Session ~= 0.8.0
pyotp
qrcode[pil]
requests==2.26.0
pytest
pytest-mock
Flask-Testing
Flask-Login
Flask-WTF
selenium
webdriver-manager
Flask-WTF == 1.2.1
pytz
Flask-Mail==0.10.0
Flask-Limiter
cryptography