{% extends "base.html" %}

{% block title %}My Shopping Care- ShopMe{% endblock %}
  
{% block content %}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_items %}
                            <tr>
                                <td class="cart__product__item">
                                    <img src="data:image/png;base64,{{ item.product.image_url | b64encode }}" alt="{{ item.product.name }}">
                                    <div class="cart__product__item__title">
                                        <h6>{{ item.product.name }}</h6>
                                    </div>
                                </td>
                                <td class="cart__price">${{ item.product.price }}</td>
                                <td class="cart__quantity">
                                    <form action="{{ url_for('main.update_cart', cart_item_id=item.cart_item_id) }}" method="POST">
                                        {{ forms[item.cart_item_id].hidden_tag() }}
                                        <input type="hidden" name="cart_item_id" value="{{ item.cart_item_id }}">
                                        <div class="pro-qty">
                                            <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                                        </div>
                                        <button type="submit" class="btn btn-sm btn-primary">Update</button>
                                    </form>
                                </td>
                                <td class="cart__total">${{ item.price }}</td>
                                <td class="cart__close"><a href="{{ url_for('main.remove_from_cart', cart_item_id=item.cart_item_id) }}"><span class="icon_close"></span></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn">
                    <a href="{{ url_for('main.shop') }}">Continue Shopping</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                
            </div>
            <div class="col-lg-4 offset-lg-2">
                <div class="cart__total__procced">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Subtotal <span>${{ total }}</span></li>
                        <li>Total <span>${{ total }}</span></li>
                    </ul>
                    <a href="{{ url_for('main.checkout') }}" class="primary-btn">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->

{% endblock %}
