{% extends "base.html" %}

{% block title %}Shop Me | Home{% endblock %}
  
{% block content %}

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="categories__item categories__large__item set-bg" data-setbg="../static/img/categories/category-1.jpg" style="background-image: url('../static/img/categories/category-1.jpg');">
                        <div class="categories__text">
                            <h1>Women’s fashion</h1>
                            <a href="/shop">Shop now</a>
                        </div>
                    </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="../static/img/categories/menclothesIMG.jpg" style="background-image: url('../static/img/categories/menclothesIMG.jpg');">
                            <div class="categories__text">
                                <h4>Men’s fashion</h4>
                                <a href="/shop">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="../static/img/categories/skincareIMG.jpg" style="background-image: url('../static/img/categories/skincareIMG.jpg');">
                            <div class="categories__text">
                                <h4 style="color: white;">Skin Care</h4>
                                <a href="/shop" style="color: white;">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="../static/img/categories/makeupIMG.png" style="background-image: url('../static/img/categories/makeupIMG.png');">
                            <div class="categories__text">
                                <h4>Cosmetics</h4>
                                <a href="/shop">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="../static/img/categories/accessoriesIMG.jpg" style="background-image: url('../static/img/categories/accessoriesIMG.jpg');">
                            <div class="categories__text">
                                <h4 style="color: white;">Accessories</h4>
                                <a tyle="color: white;" href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Products</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li data-filter="all">All</li>
                    {% for category in categories %}
                        <li data-filter=".{{ category.name | lower | replace(' ', '-') }}">{{ category.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row property__gallery">
            {% for category, products in categorized_products.items() %}
                {% for product in products %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mix {{ category | lower | replace(' ', '-') }}">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="data:image/png;base64,{{ product.image_url | b64encode }}">
                                <ul class="product__hover">
                                    <li><a href="{{ url_for('main.productDetails', product_id=product.product_id) }}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">{{ product.name }}</a></h6>
                                <div class="product__price">${{ product.price }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Banner Section Begin -->
<section class="banner set-bg"  data-setbg="../static/img/banner/banner-1.jpg" style="background-image: url('../static/img/banner/banner-1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="/shop">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="/shop">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="/shop">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Shipping</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If good have Problems</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

{% endblock %}