<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Shop Me | Log me in</title>
      <link rel="stylesheet" href="../static/css/auth_style.css">
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
            Log me in
         </div>
         <form method="POST" action="{{ url_for('main.login') }}">
            {{ login_form.hidden_tag() }}
            <div class="field">
                {{ login_form.username(class="form-control", required=True) }}
                <label>{{ login_form.username.label.text }}</label>
            </div>
            <div class="field">
                {{ login_form.password(class="form-control", required=True) }}
                <label>{{ login_form.password.label.text }}</label>
            </div>

             <!-- Static error message displayed if there are any form errors -->
             {% if login_form.username.errors or login_form.password.errors %}
             <div class="field">
                 <small class="text-danger">Please check your username or password.</small>
             </div>
            {% endif %}

            <div class="content">
               <div class="pass-link">
                  <a href="/forgetPW">Forgot password?</a>
               </div>
            </div>
            <div class="field">
                {{ login_form.submit(class='btn') }}
            </div>
            <div class="signup-link">
               Don't have an account? <a href="/register">Sign up</a>
            </div>
         </form>
      </div>
   </body>
</html>