{% extends "base.html" %}

{% block title %}Order Details - ShopMe{% endblock %}
  
{% block content %} 
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/sellerDashboard"><i class="fa fa-home"></i> Seller Dashboard </a>
                    <span>Order Details</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<div class="container">
    <h3>Order Details</h3>
    <form id="editOrderForm" action="{{ url_for('main.mark_as_completed', order_id=order.order_id) }}" method="POST">
        <div class="form-group">
            <label for="orderId">Order ID</label>
            <input type="text" class="form-control" id="orderId" value="{{ order.order_id }}" readonly>
        </div>
        <div class="shop__cart__table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.order_items %}
                    <tr>
                        <td class="cart__product__item">
                            <img src="data:image/png;base64,{{ item.product.image_url | b64encode }}" alt="{{ item.product.name }}" style="width: 100px; height: 100px;">
                        </td>
                        <td class="cart__product__item__title">{{ item.product.name }}</td>
                        <td class="cart__price">${{ item.product.price }}</td>
                        <td class="cart__quantity">{{ item.quantity }}</td>
                        <td class="cart__total">${{ item.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <label for="orderDate">Order Date</label>
            <input type="date" class="form-control" id="createdDate" value="{{ order.created_date.strftime('%Y-%m-%d') }}" readonly>
        </div>
        <div class="form-group">
            <label for="totalPaid">Total Paid</label>
            <input type="number" class="form-control" id="totalPaid" value="{{ order.total_price }}" readonly>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <input type="text" class="form-control" id="status" value="{{ order.collection_status }}" readonly>
        </div>
        <button type="submit" class="btn btn-success">Mark as Completed</button>
        <a style="background-color: #09054a;" href="/sellerDashboard" class="btn btn-primary">Back</a>    
    </form>
</div>

{% endblock %}
