{% extends "base.html" %}

{% block title %}Merchant Dashboard - ShopMe{% endblock %}
  
{% block content %} 
<section class="product spad">
    <div class="container">
        <div class="row">
            <!-- <div class="account-menu"> -->
            <div class="col-lg-3 col-md-3">
                <ul class="list-group">
                <ul class="account_filter__controls">
                    <li class="active" data-filter=".accountDetails">Account Details</li>
                    <li data-filter=".businessDetails">Business Details</li>
                    <li data-filter=".Orders">Manage Orders</li>
                    <li data-filter=".Products">Manage Products</li>
                </ul>
            </div>
            <!-- </div> -->
            <div class="col-lg-9 col-md-9">
                <div class="row property__gallery">
                    <div class="col-lg-12 mix accountDetails">
                        <h2>Account Details</h2>
                        <form method="POST" action="{{ url_for('main.update_account') }}" enctype="multipart/form-data">
                            {{ accountDetails.hidden_tag() }}
                            <div class="form-group text-center">
                                {% if profile_pic_url %}
                                    <img src="data:image/png;base64,{{ profile_pic_url }}" style="width: 25%; height: auto;" alt="Profile Picture">
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ accountDetails.profile_picture.label(class="form-label") }}
                                {{ accountDetails.profile_picture(class="form-control") }}
                                {% if accountDetails.profile_picture.errors %}
                                    {% for error in accountDetails.profile_picture.errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ accountDetails.username.label(class="form-label") }}
                                {{ accountDetails.username(class="form-control") }}
                                {% if accountDetails.username.errors %}
                                    {% for error in accountDetails.username.errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ accountDetails.role.label(class="form-label") }}
                                {{ accountDetails.role(class="form-control", readonly=True) }}
                            </div>
                            <div class="form-group">
                                {{ accountDetails.account_status.label(class="form-label") }}
                                {{ accountDetails.account_status(class="form-control", readonly=True) }}
                            </div>
                            <div class="form-group">
                                {{ accountDetails.password.label(class="form-label") }}
                                {{ accountDetails.password(class="form-control") }}
                                {% if accountDetails.password.errors %}
                                    {% for error in accountDetails.password.errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="text-center">
                                <button type="submit" style="background-color: #09054a; border-color: #09054a;" class="btn btn-primary">
                                    {{ accountDetails.submit.label.text }}
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-12 mix businessDetails" style="display: none;">
                        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;" >
                            <h3>Business Details</h3>
                            <button class="btn btn-primary" onclick="location.href='/register_business';"
                            style="background-color: #09054a; border-color: #09054a;">Register Business Details</button>
                        </div>
                        
                        <form method="POST" action="{{ url_for('main.update_business') }}">
                            {{ updateBusiness.hidden_tag() }}
                            <div class="form-group">
                                {{ updateBusiness.user_id.label }}
                                {{ updateBusiness.user_id(class="form-control", readonly=True) }}
                            </div>
                            <div class="form-group">
                                {{ updateBusiness.business_name.label }}
                                {{ updateBusiness.business_name(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ updateBusiness.business_address.label }}
                                {{ updateBusiness.business_address(class="form-control") }}
                            </div>
                            <div class="form-group">
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" style="background-color: #09054a; border-color: #09054a;" class="btn btn-primary">
                                    {{ updateBusiness.submit.label.text }}
                                </button>
                            </div>
                        </form>                        
                    </div>
                
                    <div class="col-lg-12 mix Orders"  style="display: none;"> <!-- Ensure this is initially hidden -->
                        <h3>Orders</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Created Date</th>
                                    <th>Total Paid</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#001</td>
                                    <td>2023-06-01</td>
                                    <td>$59.0</td>
                                    <td>Shipped</td>
                                    <td><button class="btn btn-primary" onclick="location.href='/orderDetails';">Manage</button></td>
                                </tr>
                                <!-- Additional rows can be added here -->
                            </tbody>
                        </table>
                    </div>

                    <div class="col-lg-12 mix Products"  style="display: none;"> <!-- Ensure this is initially hidden -->
                        <h3>Products Listed</h3>
                        <button class="btn btn-primary" onclick="location.href='/newProduct';">Add</button>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Product Name</th>
                                    <th>Image</th>
                                    <th>Description</th>
                                    <th>Category ID</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Availability</th>
                                    <th>Date Created</th>
                                    <th>Last Updated</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#001</td>
                                    <td>Sponge</td>
                                    <td><img src="https://m.media-amazon.com/images/I/81diqTAjKBL._AC_UF894,1000_QL80_.jpg"></td>
                                    <td>Its a sponge.</td>
                                    <td>#1</td>
                                    <td>$4</td>
                                    <td>20</td>
                                    <td>In Stock</td>
                                    <td>4/7/23</td>
                                    <td>24/6/24</td>
                                    <td><button class="btn btn-primary" onclick="location.href='/updateProduct';">Update</button></td>
                                    <td><button class="btn btn-primary">Remove</button></td>
                                </tr>
                                <!-- Additional rows can be added here -->
                            </tbody>
                        </table>
                    </div>
                    <!-- INSERT MORE ITEMS FROM HERE ONWARDS -->
                </div>
            </div>
        </div>
    </div>
</section>    

{% endblock %}