{% extends "base.html" %}

{% block title %}Update Product - ShopMe{% endblock %}
  
{% block content %} 
 <!-- Breadcrumb Begin -->
 <div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/sellerDashboard"><i class="fa fa-home"></i> Seller Dashboard </a>
                    <span>Update Product Details</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<div class="container">
    <h3>Update Product</h3>
    <form method="POST" action="{{ url_for('main.updateProduct', product_id=product_id) }}">
        {{ form.hidden_tag() }}        
        <div class="form-group">
            {{ form.productID.label(class="form-label") }}
            {{ form.productID(class="form-control") }}
        </div>
        
        <div class="form-group">
            {{ form.productName.label(class="form-label") }}
            {{ form.productName(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.productDescription.label(class="form-label") }}
            {{ form.productDescription(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.productCategoryID.label(class="form-label") }}
            {{ form.productCategoryID(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.productPrice.label(class="form-label") }}
            {{ form.productPrice(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.productQuantity.label(class="form-label") }}
            {{ form.productQuantity(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.productCreatedDate.label(class="form-label") }}
            {{ form.productCreatedDate(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.productLastUpdated.label(class="form-label") }}
            {{ form.productLastUpdated(class="form-control") }}
        </div>
        <div class="text-center">
            <button type="submit" style="background-color: #09054a; border-color: #09054a;" class="btn btn-primary">
                {{ form.submit.label.text }}
            </button>
        </div>  
        <a style="background-color: #09054a;" href="/sellerDashboard" class="primary-btn">Back</a>      
    </form>
</div>
<!-- Section End -->


{% endblock %}